<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div style="width:600px;margin:0 auto">
<%= yield %>
</div>
</body>
</html>
